.App {
  width: 80%;
  position: absolute;
  left: 5%;
  top: 10%;
}

.header {
  display: flex;
  flex-direction: column;
}
.header > h3 {
  line-height: 0;
  position: relative;
  top: 6px;
  width: 100%;
  color: #333;
}

.title-container {
  text-align: justify;
}

.options-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.option {
  background-color: #efefef;
  padding: 6px;
  outline: none;
  border-radius: 4px;
  text-align: center;
  border: solid 1px #333;
}
.option:hover {
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.next-btn {
  outline: none;
  border: solid 1px #333;
  padding: 4px 18px;
  border-radius: 4px;
  color: black;
}
